$fa-font-path:"../webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"
@import '../../node_modules/bootstrap/scss/bootstrap.scss'
.tipo-nav
    font-size: 23px
    font-family: Poppins, sans-serif

.taille-nav
    font-size: 12px

.p-top
    padding-top: 90px

.m-top
    margin-top: 60px

.taille-h1
    font-size: 30px

.couleur-section
    background-color: #f3f2f3


.img-droite
    float: right

.couleur-btn
    background-color: #ca544e

.arrondi-btn
    border-radius: 40px


.des-text
    padding-left: 100px
    margin-top: 200px

.m-left
    margin-left: 50px

.ecriture-nav
    font-family: Source Sans Pro, sans-serif
    


.taille-titre
    font-size: 100px


.couleur-span
    font-size: 40px
    color: #ca544e

.couleur-p-gris
    color: #a9a9a9
    font-size: 18px

/* .ecriture-p
    font-family: "Source Sans Pro" */


.taille-sale
    font-size: 10px


.couleur-prix
    font-family: Poppins, sans-serif
    color: #cd544e

.taille-ti
    font-size: 23px
    font-family: Poppins, sans-serif
    
.ptop5
    padding-top: 80px

.pbottom5
    padding-bottom: 60px

.bg-fond-discover
    background: url("./../../images/products_mini/cta-bg.jpg") no-repeat center center fixed 
    height: 800px


.dflex
    display: flex
    align-items: center

.card
    border: none
    



    /* webkit-background-size: cover */
    /* moz-background-size: cover */.dflex
    display: flex
    align-items: center
    /* o-background-size: cover */
    /* background-size: cover */


#photo-carousel
    .blog .carousel-indicators 
        left: 0
        top: auto
        bottom: -40px

    /* The colour of the indicators */
    .blog .carousel-indicators li 
        background: #a3a3a3
        border-radius: 50%
        width: 8px
        height: 8px

    .blog .carousel-indicators .active 
        background: #707070

.fond-gris
    background-color: #f3f2f3

.fond-rouge
    background-color: #ca544e

.bg-foot
    background-color: #262626
    height: 400px

.image-ul
    list-style-image: url("./../../images/ul-image.png")

.border-dessous
    border-bottom: solid 1px #607574

.border-r
    border-right: solid 1px #607574

.taille-tipo
    font-size: 10px

.dernier-bg
    background-color: #121212
    height: 110px
.taille-2020
    font-family: Source Sans Pro, sans-serif
    font-size: 15px





/* .card
    position: relative
    overflow: hidden

    .bodyCard
      position: absolute
      height: 25%
      left: 0
      right: 0
      bottom: -35%
      transition: 0.5s
    

  .card:hover .bodyCard 
    bottom: 0
  
  .card:hover 
    img 
      transform: scale(1.1)
      transition: 0.5s */



        

    


