
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"
@import '../../node_modules/bootstrap/scss/bootstrap.scss'
@import "./imports/_variables.sass"
@import "./imports/_navbar.sass"
@import "./imports/_section-shop.sass"
@import "./imports/_les_cards.sass"
@import "./imports/_recent_product.sass"
@import "./imports/_bg_discovery.sass"
@import "./imports/_carousel.sass"
@import "./imports/_section_Learn_more.sass"
@import "./imports/_footer.sass"
@import "./imports/_modal_js.sass"



@font-face 
  font-family: "Poppins"
  src: url("../fonts/Poppins-ExtraBold.ttf") 


@font-face 
  font-family: "Source Sans Pro"
  src: url("../fonts/SourceSansPro-Regular.ttf") 












        

    
@media only screen and (max-width: 767px)

    .testTitre
        font-size: 30px
    .tailleImg
        height: 200px
        width: 200px

    .size-text
        font-size: 10px

    .bor-dessous
        border: none

    .centrer-btn
      margin-left: 120px
      margin-top: 30px




